/** @format */
@import "./../../assets/scss/colors.scss";
.logo {
  max-width: 8.625rem;
}

.paddingBorder {
  padding: 3.5rem;
  background-color: $greyBg-4;
}

.warpCard {
  padding-bottom: 0.6rem;
}

.gridContent {
  padding-left: 1rem;
}
